/* This CSS includes the styles for the 'Sidebar' component */
.sidebar {
    width: 80px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1.5rem;
    border-right: 1px solid #ddd;
    height: 100vh;
}
  
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border-radius: 8px;
    font-size: 16px;
    color: #a1a1a1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
.option:hover {
    background-color: #f0f4f8;
    color: #0078d4;
}
  
.selected {
    background-color: #0078d4;
    color: #ffffff;
}
  
.label {
    flex: 1;
    text-align: center;
}