/* This file has the CSS styles for the BackToCategoriesBar component */

.bar {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #4f46e5;
  }
  
  .link {
    text-decoration: none;
    color: #0070f3;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }